<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CURD operations</title>

  <!-- _________Google Fonts__________ -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">

  <!-- _____________Bootstrap________________ -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <!-- ____________Icons_____________ -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- ______________CSS_______________  -->
  <link rel="stylesheet" href="styles.css">



</head>

<body>
